@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(4px);
    will-change: transform;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    background: linear-gradient(to bottom, #D8260C, #DB4E0F, #E47220, #E9A03F, #ECAD3C, #F0B949, #F3C157, #F5D165, #F7E173, #F9F181);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    z-index: 2;

}

button:hover {
    background-color: #ffffff8a;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.img1 {
    position: absolute;
    top: 75%;
    left: 59%;
    width: 9%;
    height: 17%;
}

.img2 {
    position: absolute;
    top: 10%;
    right: 7%;
    width: 25%;
    height: 90%;
}

.img3 {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 60%;
}

.img4 {
    position: absolute;
    top: 20%;
    right: 33%;
    width: 35%;
    height: 15%;
    border-radius: 0 30px 0 30px;
    border: solid white 2px;
}
